.agenda-index{
    background-image: url("https://media.istockphoto.com/vectors/online-education-and-elearning-via-digital-device-vector-id1168910967?k=20&m=1168910967&s=612x612&w=0&h=fHa08_LlwjeeWIqxOy0YDSmH-bBQfDzicK2ogb8ALQc=");
    background-repeat: inherit
}

.agenda-show{
    background-image: url("https://media.istockphoto.com/photos/chalkboard-background-xxxl-picture-id503240055?b=1&k=20&m=503240055&s=170667a&w=0&h=zDJXtajMTfMChO9_RBkoZ-YCdbfRo_UrXl6mdqQu8_U=");
}