// Specific CSS for your home-page
#contact{
  width: 50%;
 margin-left: 25%;
  padding: 30px;
  border: 6px solid#025c61;
  box-shadow: 10px 10px 0  #4ea2a5;
  border-radius: 10px;
  position: relative;
 background-color: #F9F9F9;
 margin-right: 200px;
}

.button {
 padding: 10px;
  background-color: #025c61;
  border: 2px solid #F8EDED;
  border-radius: 30px;
  box-shadow: #F8EDED 2px 2px 0;
  margin-left: 130px;
}

.container1 {
 background-color:#D7E9F7;
}

.container2 {
 background-color:#D7E9F7;
}

#features {
 background-color:#91c2c7f6;

}
