// Specific CSS for your home-page
#contact{
  width: 50%;
 margin-left: 25%;
  padding: 30px 90px 90px 90px;
  border: 6px solid #F7DAD9;
  box-shadow: 10px 10px 0 #F8EDED;
  border-radius: 50px;
  position: relative;
 align-items: center;
 background-color: #F9F9F9;
}

.text-primary{
 color:black;
}
