<h2>Student Profile</h2>
 <p><strong>Name: <%= @student.name %></strong></p>
 <p><strong>Classroom: <%= @student.classroom %></strong></p>
 <!--student: name,classroom,  age, address, contact, remarks(results, behaviour)
