<div class="cover mb-4 d-flex align-items-center justify-content-center" >
  <h1>Events</h1>
</div>
<div class="cover mb-4 d-flex align-items-center justify-content-center" >
<div class= "row ">
<div class ="col">
  <% @events.each do |event| %>
    <div class="card-product">
      <div class="card-product-infos">
        <%= link_to event_path(event) do %>
          <h2><%= event.name%></h2>
          <p><%= event.updated_at %></p>
           

 


        <% end %>
      </div>
    </div>
  <% end %>
          <%= link_to "Add", new_event_path(@event), class: 'text-center', class: 'btn btn-gradient m-4'%> 
</div>
</div>
</div>