<!-- HERO -->
    <div class="hero vh-100 d-flex align-items-center" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h1 class="display-4 text-white">One-CliQ</h1>
                    <p class="text-white my-3">Optimized control for our future.</p>
                    <a href="#" class="btn me-2 btn-primary">Get Started</a>
                    <!-- <%= link_to "Book now!", students_path, class: "btn btn-outline-light" %> -->
                </div>
            </div>
        </div>
    </div>
<!-- SERVICES -->
    <section id="services">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h1>Your options</h1>
                    <p></p>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect bounceInUp">
                        <h5 class="mt-4 mb-2">1.</h5>
                        <p>Agenda</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <h5 class="mt-4 mb-2">2.</h5>
                        <p>List of classes</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <h5 class="mt-4 mb-2">3.</h5>
                        <p>Events</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- FEATURES -->
    <section class="row w-100 py-10 bg-light" id="features">
            <div class="container">
              <div class="row text-center">
                <div class="col-md text-justify">
                      <h6 class="text-primary">One-CliQ enhances your way of communiction</h6>
                        <h1>Secure a better future for our children</h1>
                        <p>Ever since the advent of social media and selfie stick, people have become more and more conscious about their looks, specially women.
                        <br>
                        But what if you do not find a man who is good looking enough to be your boyfriend?
                        <br>
                        <b>Here comes the solution!</b>
                        <br>
                        Rent A Boyfriend is a platform where you can hire boyfriends for a particular task.
                        <br>
                        All you need to do is pay online and make your choice from the list.</p>
                </div>
                <div class="col-md ml-5"><%= image_tag "features.jpg", style: 'height:600px;width:400px;' %></div>
              </div>
            </div>
    </section>
    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h6 class="text-primary">CONTACT</h6>
                    <h1>Get In Touch</h1>
                    <p>If you need a boyfriend for an occasion, simply visit our website and rent one. We provide all of our customers with handsome men who are willing to go out with you as your pretend boyfriend. Whether it is a party or a wedding reception, we can help you look like you have a boyfriend by your side.</p>
                </div>
            </div>
            <form action="" class="row g-3 justify-content-center">
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Full Name">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Enter E-mail">
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Enter Subject">
                </div>
                <div class="col-md-10">
                    <textarea name="" id="" cols="30" rows="5" class="form-control"
                        placeholder="Enter Message"></textarea>
                </div>
                <div class="col-md-10 d-grid">
                    <button class="btn btn-primary">Contact</button>
                </div>
            </form>

        </div>
    </section>

