    <div class="hero vh-100 d-flex align-items-center" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h1 class="display-4 text-white">One-CliQ</h1>
                    <p class="text-white my-3">To connect.</p>
                </div>
            </div>
        </div>
    </div>
  <div class = "container1">
    <section id="services">
        <div class="container">
            <div class="row mb-5">
                <div class="col-sm-8 mx-auto text-center">
                    <h1>Hello Miss Steve,</h1>
                    <p>Choose your options.</p>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect bounceInUp">
                        <h5 class="mt-4 mb-2 text-center">1. Lecture</h5>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">

                    <div class="service card-effect"> 
                        <h5 class="mt-4 mb-2 text-center ">2. <%= link_to 'List of classes', classrooms_path(@classroom) %></h5>
       
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">

                        <h5 class="mt-4 mb-2 text-center">3. <%= link_to 'Events', events_path(@event) %></h5>

                      
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>

    <section id="features">
            <div class="container">
              <div class="row text-center">
                <div class="col-md text-justify">
                      <h6 class="text-primary">One-CliQ enhances your way of communication</h6>
                        <h1>Secure a better future for our children</h1>
                        <p>
                        But what if you do not have time to go to school?
                        <br>
                        <b>Here comes the solution!</b>
                        <br>
                        Spend less time worrying about the your child's behaviour at school.
                        <br>
                        Offering direct interation with the school, teachers via a timetable and the student profile.</p>
                </div>
                <div class="col-md ml-5"><%= image_tag "features.jpg", style: 'height:600px;width:400px;' %></div>
              </div>
            </div>
    </section>

  <div class = "container2">
    <section id="contact">
        <div class="contact">
            <div class="row mb-3">
                <div class="col-sm-8 mx-auto text-center">
                    <h1>Get In Touch</h1>
                    <p>Have any question? Get in touch with us.</p>
                </div>
            </div>
            <form action="" class="row g-3 justify-content-center">
                <div class="col-md-5">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name">
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter E-mail">
                  </div>
                </div>

                <div class="col-md-10">
                 <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Subject">
                  </div>
                </div>

                <div class="col-md-10">
                  <div class="form-group">
                    <textarea name="" id="" cols="30" rows="5" class="form-control"
                        placeholder="Enter Message"></textarea>
                  </div>
                </div>

                <div class="col-md-10 d-grid">
                    <button class="button">Contact</button>
                </div>
            </form>
        </div>
     </section>
  </div >
