.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-dismissible{
 background-color: #17D7A0;
 padding: 20px;
 margin-top: 15px;
 height: 80px;
 border-color: #ffd1d5;
 border-radius: 5px;
 width: 550px;
 text-align: auto;
 margin-bottom: 400px;

}

.alert-info{
 color: black;
}

.alert-warning {
 margin-top: 3rem;
}
