.btn-gradient{
    background: #4ea2a5;
    color:rgb(251, 234, 208);
    float:left;
    border-radius: 15px;
    
   }


   .btn-add{
    background: #025c61;
    color:rgb(251, 234, 208);
    float:left;
    border-radius: 15px;
    width: 500px;
    margin-top: 30px;
   }
   
   .btn-ghost{
    color: #350909;
    border-radius: 40px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    margin-left: 30px;
   }
   
   .btn-light {
    background-color: whitesmoke;
     color: #c08888;
     border: 1px solid #4A4A4A;
     padding: 8px 24px;
     border-radius: 4px;
     font-weight: lighter;
     opacity: 0.6;
    text-decoration: none;
     transition: opacity 0.3s ease;
   }
   
   .btn-ligt:hover {
     opacity: 1;
     
    
   }

   .search-btn{
    background: #025c61;
    color:rgb(251, 234, 208);
    float:left;
    border-radius: 15px;
    width: 200px;
    margin-bottom: 20px;

   }

.fas{
  margin-top: 30px;
}

   .fas.attendance-present {
     font-size: 1.5rem;
     color: green;
   }

   .fas.attendance-absent {
    font-size: 1.5rem;
    color: rgb(179, 27, 27);
  }
   
    