.navbar-logo {
  justify-content: space-between;
  background:  #7bbbbd;
  
}

.navbar-logo .navbar-collapse {
  flex-grow: 0;
  
}

.navbar-logo .navbar-brand img {
  width: 100px;
  border-radius: 100px;
  padding-right: 5px;
}

.navbar-email{
  margin-top: 6px;
}

.navbar-logo{
border-radius: 0px;


}

.navbar-brand img{
  box-shadow: 1px 1px 1px #025c61;
}

