#lectures_index {
    color: rgb(32, 82, 139);
    font-family: serif;
    font-style: normal;
    font-size: larger 80px;
    text-shadow: 3px 4px 5px rgb(250, 250, 250);
}

#classrooms_index{
    color:  rgb(32, 82, 139);
    font-family: serif;
    font-style: normal;
    font-size: larger 80px;
    text-shadow: 3px 4px 5px rgb(250, 250, 250);
}

#event_index{
    color: rgb(32, 82, 139);
    font-family: serif;
    font-style: normal;
    font-size: larger 80px;
    text-shadow: 3px 4px 5px rgb(75, 211, 235);
}

#agenda{
    color: rgb(32, 82, 139);
    font-family: serif;
    font-style: normal;
    font-size: larger 80px;
    text-shadow: 3px 4px 5px rgb(75, 211, 235);
}

